<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="fr.cnes.analysis.tools.shell.rule">
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMDATAInitialisation"
            id="fr.cnes.analysis.tools.shell.rules.COMDATAInitialisation"
            name="COM.DATA.Initialisation">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMDATAInvariant"
            id="fr.cnes.analysis.tools.shell.rules.COMDATAInvariant"
            name="COM.DATA.Invariant">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMDATALoopCondition"
            id="fr.cnes.analysis.tools.shell.rules.COMDATALoopCondition"
            name="COM.DATA.LoopCondition">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMDATANotUsed"
            id="fr.cnes.analysis.tools.shell.rules.COMDATANotUsed"
            name="COM.DATA.NotUsed">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWAbort"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWAbort"
            name="COM.FLOW.Abort">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.shell.rules.COMDESIGNActiveWait"
            id="fr.cnes.analysis.tools.shell.rules.COMDESIGNActiveWait"
            name="COM.DESIGN.ActiveWait">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWBooleanExpression"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWBooleanExpression"
            name="COM.FLOW.BooleanExpression">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWCaseSwitch"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWCaseSwitch"
            name="COM.FLOW.CaseSwitch">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWExit"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWExit"
            name="COM.FLOW.Exit">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWExitLoop"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWExitLoop"
            name="COM.FLOW.ExitLoop">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWFileExistence"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWFileExistence"
            name="COM.FLOW.FileExistence">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWFilePath"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWFilePath"
            name="COM.FLOW.FilePath">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMFLOWRecursion"
            id="fr.cnes.analysis.tools.shell.rules.COMFLOWRecursion"
            name="COM.FLOW.Recursion">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMINSTBoolNegation"
            id="fr.cnes.analysis.tools.shell.rules.COMINSTBoolNegation"
            name="COM.INST.BoolNegation">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMINSTBrace"
            id="fr.cnes.analysis.tools.shell.rules.COMINSTBrace"
            name="COM.INST.Brace">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMINSTCodeComment"
            id="fr.cnes.analysis.tools.shell.rules.COMINSTCodeComment"
            name="COM.INST.CodeComment">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMINSTLine"
            id="fr.cnes.analysis.tools.shell.rules.COMINSTLine"
            name="COM.INST.Line">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMINSTLoopCondition"
            id="fr.cnes.analysis.tools.shell.rules.COMINSTLoppCondition"
            name="COM.INST.LoopCondition">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMNAMEHomonymy"
            id="fr.cnes.analysis.tools.shell.rules.COMNAMEHomonymy"
            name="COM.NAME.Homonymy">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMPRESHeader"
            id="fr.cnes.analysis.tools.shell.rules.COMPRESHeader"
            name="COM.PRES.Header">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMPRESIndent"
            id="fr.cnes.analysis.tools.shell.rules.COMPRESIndent"
            name="COM.PRES.Indent">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMPRESLengthLine"
            id="fr.cnes.analysis.tools.shell.rules.COMPRESLengthLine"
            name="COM.PRES.LengthLine">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.COMTYPEExpression"
            id="fr.cnes.analysis.tools.shell.rules.COMTYPEExpression"
            name="COM.TYPE.Expression">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHDATAIFS"
            id="fr.cnes.analysis.tools.shell.rules.SHDATAIFS"
            name="SH.DATA.IFS">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHDATAInteger"
            id="fr.cnes.analysis.tools.shell.rules.SHDATAInteger"
            name="SH.DATA.Integer">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHDESIGNBash"
            id="fr.cnes.analysis.tools.shell.rules.SHDESIGNBash"
            name="SH.DESIGN.Bash">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHDESIGNOptions"
            id="fr.cnes.analysis.tools.shell.rules.SHDESIGNOptions"
            name="SH.DESIGN.Options">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHERRHelp"
            id="fr.cnes.analysis.tools.shell.rules.SHERRHelp"
            name="SH.ERR.Help">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHERRNoPipe"
            id="fr.cnes.analysis.tools.shell.rules.SHERRNoPipe"
            name="SH.ERR.NoPipe">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHERRString"
            id="fr.cnes.analysis.tools.shell.rules.SHERRNoString"
            name="SH.ERR.String">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHFLOWCheckArguments"
            id="fr.cnes.analysis.tools.shell.rules.SHFLOWCheckArguments"
            name="SH.FLOW.CheckArguments">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHFLOWCheckCodeReturn"
            id="fr.cnes.analysis.tools.shell.rules.SHFLOWCheckCodeReturn"
            name="SH.FLOW.CheckCodeReturn">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHFLOWCheckUser"
            id="fr.cnes.analysis.tools.shell.rules.SHFLOWCheckUser"
            name="SH.FLOW.CheckUser">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTBasename"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTBasename"
            name="SH.INST.Basename">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTContinue"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTContinue"
            name="SH.INST.Continue">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTFind"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTFind"
            name="SH.INST.Find">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTGetOpts"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTGetOpts"
            name="SH.INST.GetOpts">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTInterpreter"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTInterpreter"
            name="SH.INST.Interpreter">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTKeywords"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTKeywords"
            name="SH.INST.Keywords">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTLogical"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTLogical"
            name="SH.INST.Logical">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTPOSIX"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTPOSIX"
            name="SH.INST.POSIX">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTSetShift"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTSetShift"
            name="SH.INST.SetShift">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHINSTVariables"
            id="fr.cnes.analysis.tools.shell.rules.SHINSTVariables"
            name="SH.INST.Variables">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHIORedirect"
            id="fr.cnes.analysis.tools.shell.rules.SHIORedirect"
            name="SH.IO.Redirect">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHMETLimitAWK"
            id="fr.cnes.analysis.tools.shell.rules.SHMETLimitAWK"
            name="SH.MET.LimitAWK">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHMETLimitSed"
            id="fr.cnes.analysis.tools.shell.rules.SHMETLimitSed"
            name="SH.MET.LimitSed">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHMETPipeLine"
            id="fr.cnes.analysis.tools.shell.rules.SHMETPipeLine"
            name="SH.MET.PipeLine">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHREFExport"
            id="fr.cnes.analysis.tools.shell.rules.SHREFExport"
            name="SH.REF.Export">
      </Rule>
      <Rule 
      		class="fr.cnes.analysis.tools.shell.rules.SHSYNCSignals"
            id="fr.cnes.analysis.tools.shell.rules.SHSYNCSignals"
            name="SH.SYNC.Signals">
      </Rule>
      
   </extension>

</plugin>
