language: java
install: true

os:
- linux

jdk:
- openjdk11

addons:
  sonarcloud:
    organization: "lequal"
    token:
      secure: "XrTPbT5js+N1quKghtNNwb+F911kkREvm1ucDUb6vBwfGY5n/du9Mas5R632HuV/s8pJcJGi66NwzxhjaZGzvsNT+WhhRzeOTunpPSXzrW1wkN3cYyiURqN7p7c+YhmGVtymgiDmWh9/hamxsWp7PsmnGsAHe8U/omhV/7riU73/AwPahdeAaLdRegUrEvL9814q88d7g6A9gPFssPq9p+NLGP1J7zyNEWfHz59i0GRKFtmBTvqhONvFsostTZ1F+MJRv+Z5YIVCzkiOr99TRYrIQCwBmTXNWp/pZyKTV2xahhdY1UFY7Mtk4IUzrGhTBwaqsazMwF5EI2qdL0oKTabNEQoLtJoIA+vVLS9vONf3/zijcGnMQZvtI0M7HaXuAdIdXXpj/OZdPSrqZy1rVy7RQWoTyK4Wv8jwls3Ocrbpojo/uaSJk4t/iCyToURgQzTPPbeSkX52fFt0ylOnCEQVm8OSjcnx3WeM5jm8moaPXGsJjSvsUjGbyVWwTiqe/oAY1vJDY6TT11+v4mCmLyv21AQg16euMhuSQMKaml/F8Gt/th0Yr1HCXn6Vcw7fwU9IX2sbFrTlip7e4XQ/ohZXuM37IjG/9CrqFU2AI55HneQXERH7qkMTEiZOTYg7vbHZkzzBLTBlPEwtmlnYSObiOq2BFXxzY1wgP3jGTVQ="

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package org.jacoco:jacoco-maven-plugin:report
  - sonar-scanner -Dsonar.branch.name="$TRAVIS_BRANCH"

cache:
  directories:
  - '$HOME/.m2/repository'
  - '$HOME/.sonar/cache'

notifications:
  email: false

deploy:
  provider: releases
  api_key: "$GITHUB_TOKEN"
  file_glob: true
  file:
  - "icode-app/target/icode-*.zip"
  - "icode-ide/fr.cnes.icode.repository/target/products/icode-ide.product-*.zip"
  - "icode-ide/fr.cnes.icode.repository/target/fr.cnes.icode.repository-*.zip"
  skip_cleanup: true
  name: "i-Code CNES"
  draft: true
  on:
    tags: true
