<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.cnes.analysis.tools.fortran90.rule">
      
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDATAFloatCompare"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDATAFloatCompare"
            name="COM.DATA.FloatCompare">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDATAInitialisation"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDATAInitialisation"
            name="COM.DATA.Initialisation">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDATAInvariant"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDATAInvariant"
            name="COM.DATA.Invariant">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDATALoopCondition"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDATALoopCondition"
            name="COM.DATA.LoopCondition">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDATANotUsed"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDATANotUsed"
            name="COM.DATA.NotUsed">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDESIGNAlloc"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDESIGNAlloc"
            name="COM.DESIGN.Alloc">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMDESIGNActiveWait"
            id="fr.cnes.analysis.tools.fortran90.rules.COMDESIGNActiveWait"
            name="COM.DESIGN.ActiveWait">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWAbort"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWAbort"
            name="COM.FLOW.Abort">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWBooleanExpression"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWBooleanExpression"
            name="COM.FLOW.BooleanExpression">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWCaseSwitch"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWCaseSwitch"
            name="COM.FLOW.CaseSwitch">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWCheckCodeReturn"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWCheckCodeReturn"
            name="COM.FLOW.CheckCodeReturn">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWCheckUser"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWCheckUser"
            name="COM.FLOW.CheckUser">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWExit"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWExit"
            name="COM.FLOW.Exit">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWExitLoop"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWExitLoop"
            name="COM.FLOW.ExitLoop">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWFileExistence"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWFileExistence"
            name="COM.FLOW.FileExistence">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWFilePath"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWFilePath"
            name="COM.FLOW.FilePath">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMFLOWRecursion"
            id="fr.cnes.analysis.tools.fortran90.rules.COMFLOWRecursion"
            name="COM.FLOW.Recursion">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMINSTBoolNegation"
            id="fr.cnes.analysis.tools.fortran90.rules.COMINSTBoolNegation"
            name="COM.INST.BoolNegation">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMINSTBrace"
            id="fr.cnes.analysis.tools.fortran90.rules.COMINSTBrace"
            name="COM.INST.Brace">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMINSTCodeComment"
            id="fr.cnes.analysis.tools.fortran90.rules.COMINSTCodeComment"
            name="COM.INST.CodeComment">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMINSTGoTo"
            id="fr.cnes.analysis.tools.fortran90.rules.COMINSTGoTo"
            name="COM.INST.GoTo">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMINSTLine"
            id="fr.cnes.analysis.tools.fortran90.rules.COMINSTLine"
            name="COM.INST.Line">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMINSTLoopCondition"
            id="fr.cnes.analysis.tools.fortran90.rules.COMINSTLoopCondition"
            name="COM.INST.LoopCondition">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMNAMEHomonymy"
            id="fr.cnes.analysis.tools.fortran90.rules.COMNAMEHomonymy"
            name="COM.NAME.Homonymy">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMPRESIndent"
            id="fr.cnes.analysis.tools.fortran90.rules.COMPRESIndent"
            name="COM.PRES.Indent">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMPRESLengthLine"
            id="fr.cnes.analysis.tools.fortran90.rules.COMPRESLengthLine"
            name="COM.PRES.LengthLine">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMPROJECTHeader"
            id="fr.cnes.analysis.tools.fortran90.rules.COMPROJECTHeader"
            name="COM.PROJECT.Header">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.COMTYPEExpression"
            id="fr.cnes.analysis.tools.fortran90.rules.COMTYPEExpression"
            name="COM.TYPE.Expression">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90BLOCFile"
            id="fr.cnes.analysis.tools.fortran90.rules.F90BLOCFile"
            name="F90.BLOC.File">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATAArray"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATAArray"
            name="F90.DATA.Array">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATAArrayAccess"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATAArrayAccess"
            name="F90.DATA.ArrayAccess">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATAConstant"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATAConstant"
            name="F90.DATA.Constant">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATAConstantFloat"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATAConstantFloat"
            name="F90.DATA.ConstantFloat">
      </Rule>
            <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATADeclaration"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATADeclaration"
            name="F90.DATA.Declaration">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATAFloat"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATAFloat"
            name="F90.DATA.Float">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DATAParameter"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DATAParameter"
            name="F90.DATA.Parameter">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNFree"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNFree"
            name="F90.DESIGN.Free">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNInclude"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNInclude"
            name="F90.DESIGN.Include">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNInterface"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNInterface"
            name="F90.DESIGN.Interface">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNIO"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNIO"
            name="F90.DESIGN.IO">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNObsolete"
            id="fr.cnes.analysis.tools.fortran90.rules.F90DESIGNObsolete"
            name="F90.DESIGN.Obsolete">
      </Rule>
	  <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90ERRAllocate"
            id="fr.cnes.analysis.tools.fortran90.rules.F90ERRAllocate"
            name="F90.ERR.Allocate">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90ERROpenRead"
            id="fr.cnes.analysis.tools.fortran90.rules.F90ERROpenRead"
            name="F90.ERR.OpenRead">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTAssociated"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTAssociated"
            name="F90.INST.Associated">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTEntry"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTEntry"
            name="F90.INST.Entry">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTEquivalence"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTEquivalence"
            name="F90.INST.Equivalence">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTIf"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTIf"
            name="F90.INST.If">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTIntent"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTIntent"
            name="F90.INST.Intent">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTNullify"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTNullify"
            name="F90.INST.Nullify">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTOnly"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTOnly"
            name="F90.INST.Only">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTOperator"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTOperator"
            name="F90.INST.Operator">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90INSTPointer"
            id="fr.cnes.analysis.tools.fortran90.rules.F90INSTPointer"
            name="F90.INST.Pointer">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90NAMEGenericIntrinsic"
            id="fr.cnes.analysis.tools.fortran90.rules.F90NAMEGenericIntrinsic"
            name="F90.NAME.GenericIntrinsic">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90NAMEKeyWords"
            id="fr.cnes.analysis.tools.fortran90.rules.F90NAMEKeyWords"
            name="F90.NAME.KeyWords">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90PROTOOverload"
            id="fr.cnes.analysis.tools.fortran90.rules.F90PROTOOverload"
            name="F90.PROTO.Overload">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90REFArray"
            id="fr.cnes.analysis.tools.fortran90.rules.F90REFArray"
            name="F90.REF.Array">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90REFInterface"
            id="fr.cnes.analysis.tools.fortran90.rules.F90REFInterface"
            name="F90.REF.Interface">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90REFLabel"
            id="fr.cnes.analysis.tools.fortran90.rules.F90REFLabel"
            name="F90.REF.Label">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90REFOpen"
            id="fr.cnes.analysis.tools.fortran90.rules.F90REFOpen"
            name="F90.REF.Open">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90REFVariable"
            id="fr.cnes.analysis.tools.fortran90.rules.F90REFVariable"
            name="F90.REF.Variable">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90TYPEDerivate"
            id="fr.cnes.analysis.tools.fortran90.rules.F90TYPEDerivate"
            name="F90.TYPE.Derivate">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90TYPEInteger"
            id="fr.cnes.analysis.tools.fortran90.rules.F90TYPEInteger"
            name="F90.TYPE.Integer">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran90.rules.F90TYPEReal"
            id="fr.cnes.analysis.tools.fortran90.rules.F90TYPEReal"
            name="F90.TYPE.Real">
      </Rule>
   </extension>

</plugin>
