<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="main"
            visible="true">
         <run
               class="fr.cnes.icode.application.ICodeApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name="Icode command line product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.cnes.icode.application.application"
            description="The product to run icode using a commande line "
            name="Cnes Icode Command Line product">
      </product>
   </extension>

</plugin>
