<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.cnes.analysis.tools.fortran77.metric">
      <Metric
            class="fr.cnes.analysis.tools.fortran77.metrics.F77METComplexitySimplified"
            id="fr.cnes.analysis.tools.fortran77.metrics.F77METComplexitySimplified"
            name="F77.MET.ComplexitySimplified">
      </Metric>
      <Metric
            class="fr.cnes.analysis.tools.fortran77.metrics.F77METNesting"
            id="fr.cnes.analysis.tools.fortran77.metrics.F77METNesting"
            name="F77.MET.Nesting">
      </Metric>
      <Metric
            class="fr.cnes.analysis.tools.fortran77.metrics.F77METLineOfCode"
            id="fr.cnes.analysis.tools.fortran77.metrics.F77METLineOfCode"
            name="F77.MET.LineOfCode">
      </Metric>
      <Metric
            class="fr.cnes.analysis.tools.fortran77.metrics.F77METRatioComment"
            id="fr.cnes.analysis.tools.fortran77.metrics.F77METRatioComment"
            name="F77.MET.RatioComment">
      </Metric>
   </extension>
</plugin>
