<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE project>
<plugin>
   <extension
         id="fortran90.metrics"
         name="Fortran 90 Metrics"
         point="fr.cnes.analysis.tools.analyzer.checks">
      <check
            class="fr.cnes.analysis.tools.fortran90.metrics.F90METComplexitySimplified"
            id="fr.cnes.analysis.tools.fortran90.metrics.F90METComplexitySimplified"
            isMetric="true"
            languageId="fr.cnes.analysis.tools.languages.f90"
            name="F90.MET.ComplexitySimplified">           
      </check>
      <check
            class="fr.cnes.analysis.tools.fortran90.metrics.F90METNesting"
            id="fr.cnes.analysis.tools.fortran90.metrics.F90METNesting"
            isMetric="true"
            languageId="fr.cnes.analysis.tools.languages.f90"
            name="F90.MET.Nesting">
      </check>
      <check
            class="fr.cnes.analysis.tools.fortran90.metrics.F90METLineOfCode"
            id="fr.cnes.analysis.tools.fortran90.metrics.F90METLineOfCode"
            isMetric="true"
            languageId="fr.cnes.analysis.tools.languages.f90"
            name="F90.MET.LineOfCode">
      </check>
      <check
            class="fr.cnes.analysis.tools.fortran90.metrics.F90METRatioComment"
            id="fr.cnes.analysis.tools.fortran90.metrics.F90METRatioComment"
            isMetric="true"
            languageId="fr.cnes.analysis.tools.languages.f90"
            name="F90.MET.RatioComment">
      </check>
   </extension>
</plugin>
