<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Cnes ICode" sequenceNumber="1530692643">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.eclipse.photran.feature.group" version="9.1.4.201802282052"/>
      <unit id="org.eclipse.ui.navigator.resources" version="3.6.1.v20170823-1443"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.4.v20180322-2228"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170919201930/repository/"/>
    </location>
  </locations>
</target>
