<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.cnes.analysis.tools.export">
      <exportFormat
            ExportClass="fr.cnes.analysis.tools.export.xml.ExportXml"
            formatExtension="xml"
            formatName="XML">
      </exportFormat>
   </extension>

</plugin>
