<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="fr.cnes.analysis.tools.shell.rule" name="fr.cnes.analysis.tools.shell.rule" schema="schema/fr.cnes.analysis.tools.shell.rule.exsd"/>
   <extension-point id="fr.cnes.analysis.tools.shell.metric" name="fr.cnes.analysis.tools.shell.metric" schema="schema/fr.cnes.analysis.tools.shell.metric.exsd"/>
   <extension
         point="fr.cnes.analysis.tools.analyzer">
      <analyzer
            extensionId="fr.cnes.analysis.tools.shell.rule"
            id="fr.cnes.analysis.tools.shell.analyzer.rule"
            name="Shell Rule">
      </analyzer>
      <analyzer
            extensionId="fr.cnes.analysis.tools.shell.metric"
            id="fr.cnes.analysis.tools.shell.analyzer.metric"
            name="Shell Metric">
      </analyzer>
   </extension>

</plugin>
