<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="configuration" name="configuration" schema="schema/configuration.exsd"/>
    <extension point="org.eclipse.core.resources.markers" id="fr.cnes.analysis.tools.ui.markers.ViolationErrorMarker"
  name="i-Code CNES Violation error marker">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.marker"/>
        <persistent value="false"/><attribute name="description"/>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fr.cnes.analysis.tools.ui.menu"
               label="i-Code CNES">
            <command
                  commandId="fr.cnes.analysis.tools.ui.checkCode"
                  label="Check Code"
                  style="push"
                  tooltip="Running an i-Code CNES analysis on selected files.">
            </command>
             <command
                  commandId="fr.cnes.analysis.tools.ui.handler.ClearHandler"
                  label="Clear All"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.cnes.analysis.tools.ui.view.ViolationsView">
         <command
               commandId="org.eclipse.ui.file.export"
               icon="icons/export.GIF"
               label="Export Results"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="fr.cnes.analysis.tools.ui.wizard.export.RuleExportWizard">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:fr.cnes.analysis.tools.ui.view.MetricsView">
         <command
               commandId="org.eclipse.ui.file.export"
               icon="icons/export.GIF"
               label="Export Results"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="fr.cnes.analysis.tools.ui.wizard.export.metric.MetricExportWizard">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <menu
               id="fr.cnes.analysis.tools.ui.popupMenu"
               label="i-Code CNES">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.cnes.analysis.tools.ui.view.ViolationsView">
         <command
               commandId="fr.cnes.analysis.tools.ui.handlers.ShowTreeViewerHandler"
               id="fr.cnes.analysis.tools.ui.command.ShowTreeViewerHandler.RuleTreeViewer"
               label="Rule &gt; File &gt; Function &gt; Violation"
               style="radio">
            <parameter
                  name="TreeViewer"
                  value="RuleTreeViewer">
            </parameter>
         </command>
         <command
               commandId="fr.cnes.analysis.tools.ui.handlers.ShowTreeViewerHandler"
               id="fr.cnes.analysis.tools.ui.command.ShowTreeViewerHandler.FileTreeViewer"
               label="File &gt; Function &gt; Rule &gt; Violation"
               style="radio">
            <parameter
                  name="TreeViewer"
                  value="FileTreeViewer">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
     
      <command
            defaultHandler="fr.cnes.analysis.tools.ui.handler.ClearHandler"
            id="fr.cnes.analysis.tools.ui.handler.ClearHandler"
            name="Clear All">
      </command>
      <command
            defaultHandler="fr.cnes.analysis.tools.ui.handler.AnalysisHandler"
            description="Running an i-Code CNES analysis on selected files."
            helpContextId="Running an i-Code CNES analysis on selected files."
            id="fr.cnes.analysis.tools.ui.checkCode"
            name="Check code">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="fr.cnes.analysis.tools.ui.handler.ShowRuleTreeViewerHandler"
            id="fr.cnes.analysis.tools.ui.handlers.ShowTreeViewerHandler"
            name="Show Rule TreeViewer">
         <commandParameter
               id="TreeViewer"
               name="TreeViewer">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="fr.cnes.analysis.tools.ui.view.iCode"
            class="fr.cnes.analysis.tools.ui.view.ViolationsView"
            icon="icons/logo-i-code-rouge-16x16.png"
            id="fr.cnes.analysis.tools.ui.view.ViolationsView"
            name="i-Code CNES Violations"
            restorable="true">
         <description>
            This view represents all violations found on analyzed file(s).
         </description>
      </view>
      <category
            id="fr.cnes.analysis.tools.ui.view.iCode"
            name="i-Code CNES">
      </category>
      <view
            category="fr.cnes.analysis.tools.ui.view.iCode"
            class="fr.cnes.analysis.tools.ui.view.MetricsView"
            icon="icons/logo-i-code-rouge-16x16.png"
            id="fr.cnes.analysis.tools.ui.view.MetricsView"
            name="i-Code CNES Metrics"
            restorable="true">
         <description>
            This view represents all metrics values found on analyzed file(s).
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="fr.cnes.analysis.tools.all.ui.handler.rule">
         <class
               class="fr.cnes.analysis.tools.ui.handler.RuleAnalysisAllHandler">
         </class>
         <enabledWhen>
            <reference
                  definitionId="resourceSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            commandId="fr.cnes.analysis.tools.all.ui.handler.metric">
         <class
               class="fr.cnes.analysis.tools.ui.handler.MetricAnalysisAllHandler">
         </class>
         <enabledWhen>
            <reference
                  definitionId="resourceSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            commandId="fr.cnes.analysis.tools.all.ui.handler.AnalysisHandler"
            helpContextId="Running an i-Code CNES analysis on selected files.">
         <class
               class="fr.cnes.analysis.tools.ui.handler.AnalysisHandler">
         </class>
         <enabledWhen>
            <reference
                  definitionId="resourceSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.cnes.analysis.tools.ui.preferences.ConfigurationPreferencePage"
            id="fr.cnes.analysis.tools.ui.preferences.ConfigurationPreferencePage"
            name="i-Code CNES">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="resourceSelected">
         <with
               variable="selection">
            <iterate>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="fr.cnes.analysis.tools.ui.wizard.export.CheckerExportWizard"
            icon="icons/export.GIF"
            id="fr.cnes.analysis.tools.ui.wizard.export.RuleExportWizard"
            name="Violations Export Wizard">
      </wizard>
      <wizard
            class="fr.cnes.analysis.tools.ui.wizard.export.CheckerExportWizard"
            icon="icons/export.GIF"
            id="fr.cnes.analysis.tools.ui.wizard.export.metric.MetricExportWizard"
            name="Metric Export">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="fr.cnes.analysis.tools.ui.wizard.export.CheckerExportWizard"
            icon="icons/export.GIF"
            id="fr.cnes.analysis.tools.ui.wizard.export.RuleExportWizard"
            name="Violations Export Wizard">
      </wizard>
      <wizard
            class="fr.cnes.analysis.tools.ui.wizard.export.CheckerExportWizard"
            icon="icons/export.GIF"
            id="fr.cnes.analysis.tools.ui.wizard.export.metric.MetricExportWizard"
            name="Metric Export">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.cnes.analysis.tools.ui.editors.EditorFortran"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="f,f90,f77"
            icon="icons/fortran.png"
            id="fr.cnes.analysis.tools.ui.editors.EditorFortran"
            name="Fortran Editor">
      </editor>
      <editor
            class="fr.cnes.analysis.tools.ui.editors.EditorShell"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="sh,ksh"
            icon="icons/shell.png"
            id="fr.cnes.analysis.tools.ui.editors.EditorShell"
            name="Shell editor">
      </editor>
   </extension>
    <extension point="org.eclipse.core.resources.markers" id="fr.cnes.analysis.tools.ui.markers.ViolationWarningMarker"
  name="i-Code CNES Violation Warning">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.marker"/>
        <persistent value="false"/><attribute name="description"/>
    </extension>
    <extension
          point="fr.cnes.analysis.tools.ui.configuration">
       <configuration
             description="Configuration defined by RNC-CNES-Q-HB-80-501 class D"
             name="RNC class D">
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METComplexitySimplified"
                description="McCabe simplfied number should not exceed 20."
                enabled="true"
                maxValue="20"
                name="F77.MET.ComplexitySimplified.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 100."
                enabled="true"
                maxValue="100"
                name="F77.MET.LineOfCode.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METNesting"
                description="Nesting of a control structure should not exceed 7."
                enabled="true"
                maxValue="7"
                name="F77.MET.Nesting.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 20%."
                enabled="true"
                minValue="20"
                name="F77.MET.RatioComment.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METComplexitySimplified"
                description="McCabe simplfied number should not exceed 20."
                enabled="true"
                maxValue="20"
                name="F90.MET.ComplexitySimplified.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 100."
                enabled="true"
                maxValue="100"
                name="F90.MET.LineOfCode.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METNesting"
                description="Nesting of a control structure should not exceed 7."
                enabled="true"
                maxValue="7"
                name="F90.MET.Nesting.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 20%."
                enabled="true"
                minValue="20"
                name="F90.MET.RatioComment.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETComplexitySimplified"
                description="McCabe simplfied number should not exceed 20."
                enabled="true"
                maxValue="20"
                name="SH.MET.ComplexitySimplified.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 100."
                enabled="true"
                maxValue="100"
                name="SH.MET.LineOfCode.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETNesting"
                description="Nesting of a control structure should not exceed 7."
                enabled="true"
                maxValue="7"
                name="SH.MET.Nesting.D">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 20%."
                enabled="true"
                minValue="20"
                name="SH.MET.RatioComment.D">
          </checkConfiguration>
       </configuration>
       <configuration
             description="Configuration defined by RNC-CNES-Q-HB-80-501 class C"
             name="RNC class C">
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METComplexitySimplified"
                description="McCabe simplfied number should not exceed 12."
                enabled="true"
                maxValue="12"
                name="F77.MET.ComplexitySimplified.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 80."
                enabled="true"
                maxValue="80"
                name="F77.MET.LineOfCode.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METNesting"
                description="Nesting of a control structure should not exceed 6."
                enabled="true"
                maxValue="6"
                name="F77.MET.Nesting.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 20%."
                enabled="true"
                minValue="20"
                name="F77.MET.RatioComment.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METComplexitySimplified"
                description="McCabe simplfied number should not exceed 12."
                enabled="true"
                maxValue="12"
                name="F90.MET.ComplexitySimplified.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 80."
                enabled="true"
                maxValue="80"
                name="F90.MET.LineOfCode.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METNesting"
                description="Nesting of a control structure should not exceed 6."
                enabled="true"
                maxValue="6"
                name="F90.MET.Nesting.C">
          </checkConfiguration>
          <checkConfiguration 
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 20%."
                enabled="true"
                minValue="20"
                name="F90.MET.RatioComment.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETComplexitySimplified"
                description="McCabe simplfied number should not exceed 12."
                enabled="true"
                maxValue="12"
                name="SH.MET.ComplexitySimplified.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 80."
                enabled="true"
                maxValue="80"
                name="SH.MET.LineOfCode.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETNesting"
                description="Nesting of a control structure should not exceed 6."
                enabled="true"
                maxValue="6"
                name="SH.MET.Nesting.C">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 20%."
                enabled="true"
                minValue="20"
                name="SH.MET.RatioComment.C">
          </checkConfiguration>
       </configuration>
       <configuration
             description="Configuration defined by RNC-CNES-Q-HB-80-501 class B"
             name="RNC class B">
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METComplexitySimplified"
                description="McCabe simplfied number should not exceed 10."
                enabled="true"
                maxValue="10"
                name="F77.MET.ComplexitySimplified.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 60."
                enabled="true"
                maxValue="60"
                name="F77.MET.LineOfCode.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METNesting"
                description="Nesting of a control structure should not exceed 5."
                enabled="true"
                maxValue="5"
                name="F77.MET.Nesting.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 30%"
                enabled="true"
                minValue="30"
                name="F77.MET.RatioComment.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METComplexitySimplified"
                description="McCabe simplfied number should not exceed 10."
                enabled="true"
                maxValue="10"
                name="F90.MET.ComplexitySimplified.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 60."
                enabled="true"
                maxValue="60"
                name="F90.MET.LineOfCode.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METNesting"
                description="Nesting of a control structure should not exceed 5."
                enabled="true"
                maxValue="5"
                name="F90.MET.Nesting.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 30%"
                enabled="true"
                minValue="30"
                name="F90.MET.RatioComment.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETComplexitySimplified"
                description="McCabe simplfied number should not exceed 10."
                enabled="true"
                maxValue="10"
                name="SH.MET.ComplexitySimplified.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 60."
                enabled="true"
                maxValue="60"
                name="SH.MET.LineOfCode.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETNesting"
                description="Nesting of a control structure should not exceed 5."
                enabled="true"
                maxValue="5"
                name="SH.MET.Nesting.B">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 30%"
                enabled="true"
                minValue="30"
                name="SH.MET.RatioComment.B">
          </checkConfiguration>
       </configuration>
       <configuration
             description="Configuration defined by RNC-CNES-Q-HB-80-501 class A"
             name="RNC class A">
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METComplexitySimplified"
                description="McCabe simplfied number should not exceed 10."
                enabled="true"
                maxValue="10"
                name="F77.MET.ComplexitySimplified.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 60."
                enabled="true"
                maxValue="60"
                name="F77.MET.LineOfCode.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METNesting"
                description="Nesting of a control structure should not exceed 5."
                enabled="true"
                maxValue="5"
                name="F77.MET.Nesting.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran77.metrics.F77METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 30%"
                enabled="true"
                minValue="30"
                name="F77.MET.RatioComment.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METComplexitySimplified"
                description="McCabe simplfied number should not exceed 10."
                enabled="true"
                maxValue="10"
                name="F90.MET.ComplexitySimplified.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 60."
                enabled="true"
                maxValue="60"
                name="F90.MET.LineOfCode.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METNesting"
                description="Nesting of a control structure should not exceed 5."
                enabled="true"
                maxValue="5"
                name="F90.MET.Nesting.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.fortran90.metrics.F90METRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 30%"
                enabled="true"
                minValue="30"
                name="F90.MET.RatioComment.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETComplexitySimplified"
                description="McCabe simplfied number should not exceed 10."
                enabled="true"
                maxValue="10"
                name="SH.MET.ComplexitySimplified.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETLineOfCode"
                description="Number of line of a function (without blank and comment lines) should not exceed 60."
                enabled="true"
                maxValue="60"
                name="SH.MET.LineOfCode.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETNesting"
                description="Nesting of a control structure should not exceed 5."
                enabled="true"
                maxValue="5"
                name="SH.MET.Nesting.A">
          </checkConfiguration>
          <checkConfiguration
                checkId="fr.cnes.analysis.tools.shell.metrics.SHMETRatioComment"
                description="Comment Ratio (commentlines/(totalLines+commentLines)) must not be below 30%"
                enabled="true"
                minValue="30"
                name="SH.MET.RatioComment.A">
          </checkConfiguration>
       </configuration>
    </extension>
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
        id="violationerror" name="Violation Error">
    <specification
          annotationType="fr.cnes.analysis.tools.ui.ViolationError"
          colorPreferenceKey="fr.cnes.analysis.tools.ui.ViolationError.color"
          colorPreferenceValue="255,85,89"
          contributesToHeader="false"
          icon="icons/logo-i-code-rouge-16x16.png"
          includeOnPreferencePage="true"
          label="i-Code CNES Violation Error"
          overviewRulerPreferenceKey="clruler"
          overviewRulerPreferenceValue="true"
          textPreferenceKey="cltext"
          textStylePreferenceKey="clstyle"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="clvertical"
          verticalRulerPreferenceValue="true">
    </specification>
    </extension>
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
        id="violationwarning" name="Violation Warning">
    <specification
          annotationType="fr.cnes.analysis.tools.ui.ViolationWarning"
          colorPreferenceKey="fr.cnes.analysis.tools.ui.ViolationWarning.color"
          colorPreferenceValue="255,204,136"
          contributesToHeader="false"
          icon="icons/logo-i-code-orange-16x16.png"
          includeOnPreferencePage="true"
          label="i-Code CNES Violation Warning"
          overviewRulerPreferenceKey="clruler"
          overviewRulerPreferenceValue="true"
          textPreferenceKey="cltext"
          textStylePreferenceKey="clstyle"
          textStylePreferenceValue="BOX"
          verticalRulerPreferenceKey="clvertical"
          verticalRulerPreferenceValue="true">
    </specification>
    </extension>
    <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="fr.cnes.analysis.tools.ui.ViolationError"
            markerType="fr.cnes.analysis.tools.ui.markers.ViolationErrorMarker"/>
      <type
            markerSeverity="0"
            markerType="fr.cnes.analysis.tools.ui.markers.InformationMarker"
            name="fr.cnes.analysis.tools.ui.Information"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
    </extension>
    <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            super="org.eclipse.ui.workbench.texteditor.info"
            name="fr.cnes.analysis.tools.ui.ViolationWarning"
            markerType="fr.cnes.analysis.tools.ui.markers.ViolationWarningMarker"/>
    </extension>
    <extension point="org.eclipse.ui.decorators">  
        <decorator
              adaptable="true"
              class="fr.cnes.analysis.tools.ui.decorators.ViolationErrorDecorator"
              icon="icons/logo-i-code-rouge-8x8.png"
              id="fr.cnes.analysis.tools.ui.decorators.violationerrordecorator"
              label="i-Code CNES - Violation error"
              lightweight="true"
              location="TOP_RIGHT"
              state="true">   
            <enablement>
                <objectClass name="org.eclipse.core.resources.IResource"/>    
            </enablement>  
            <description> 
                Shown when one or several rules of Error criticity are violated.
            </description>
        </decorator>
        <decorator
              adaptable="true"
              class="fr.cnes.analysis.tools.ui.decorators.ViolationWarningDecorator"
              icon="icons/logo-i-code-orange-8x8.png"
              id="fr.cnes.analysis.tools.ui.decorators.violationwarningdecorator"
              label="i-Code CNES - Violation warning"
              lightweight="true"
              location="TOP_RIGHT"
              state="true">   
            <enablement> 
                <objectClass name="org.eclipse.core.resources.IResource"/>   
            </enablement>  
            <description> 
                Shown when one or several rules of Warning criticity are violated.
            </description>
            </decorator>
        <decorator
              adaptable="true"
              class="fr.cnes.analysis.tools.ui.decorators.InformationDecorator"
              icon="icons/logo-i-code-bleue-8x8.png"
              id="fr.cnes.analysis.tools.ui.decorators.informationdecorator"
              label="i-Code CNES - Information"
              lightweight="true"
              location="TOP_RIGHT"
              state="true">
           <description>
              Shown when a metric was computed on a function but that the limit was not exceeded.
           </description>
           <enablement>
              <objectClass
                    name="org.eclipse.core.resources.IResource">
              </objectClass>
           </enablement>
        </decorator>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="fr.cnes.analysis.tools.ui.preferences.UserPreferencesService">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="fr.cnes.analysis.tools.ui.Information"
             colorPreferenceKey="clcolor"
             colorPreferenceValue="173,216,230"
             icon="icons/logo-i-code-bleue-16x16.png"
             label="i-Code CNES Information"
             overviewRulerPreferenceKey="clruler"
             overviewRulerPreferenceValue="true"
             textPreferenceKey="cltext"
             textPreferenceValue="true"
             textStylePreferenceKey="clstyle"
             textStylePreferenceValue="BOX"
             verticalRulerPreferenceKey="clvertical"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    
</plugin>
