<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.cnes.analysis.tools.fortran77.rule">
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDATAFloatCompare"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDATAFloatCompare"
            name="COM.DATA.FloatCompare">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDATAInitialisation"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDATAInitialisation"
            name="COM.DATA.Initialisation">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDATAInvariant"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDATAInvariant"
            name="COM.DATA.Invariant">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDATALoopCondition"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDATALoopCondition"
            name="COM.DATA.LoopCondition">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDATANotUsed"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDATANotUsed"
            name="COM.DATA.NotUsed">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDESIGNAlloc"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDESIGNAlloc"
            name="COM.DESIGN.Alloc">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMDESIGNActiveWait"
            id="fr.cnes.analysis.tools.fortran77.rules.COMDESIGNActiveWait"
            name="COM.DESIGN.ActiveWait">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWAbort"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWAbort"
            name="COM.FLOW.Abort">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWBooleanExpression"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWBooleanExpression"
            name="COM.FLOW.BooleanExpression">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWCheckCodeReturn"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWCheckCodeReturn"
            name="COM.FLOW.CheckCodeReturn">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWCheckUser"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWCheckUser"
            name="COM.FLOW.CheckUser">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWExit"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWExit"
            name="COM.FLOW.Exit">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWExitLoop"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWExitLoop"
            name="COM.FLOW.ExitLoop">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWFileExistence"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWFileExistence"
            name="COM.FLOW.FileExistence">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMFLOWFilePath"
            id="fr.cnes.analysis.tools.fortran77.rules.COMFLOWFilePath"
            name="COM.FLOW.FilePath">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMINSTBoolNegation"
            id="fr.cnes.analysis.tools.fortran77.rules.COMINSTBoolNegation"
            name="COM.INST.BoolNegation">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMINSTBrace"
            id="fr.cnes.analysis.tools.fortran77.rules.COMINSTBrace"
            name="COM.INST.Brace">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMINSTCodeComment"
            id="fr.cnes.analysis.tools.fortran77.rules.COMINSTCodeComment"
            name="COM.INST.CodeComment">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMINSTGoTo"
            id="fr.cnes.analysis.tools.fortran77.rules.COMINSTGoTo"
            name="COM.INST.GoTo">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMINSTLoopCondition"
            id="fr.cnes.analysis.tools.fortran77.rules.COMINSTLoopCondition"
            name="COM.INST.LoopCondition">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMNAMEHomonymy"
            id="fr.cnes.analysis.tools.fortran77.rules.COMNAMEHomonymy"
            name="COM.NAME.Homonymy">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMPROJECTHeader"
            id="fr.cnes.analysis.tools.fortran77.rules.COMPROJECTHeader"
            name="COM.PROJECT.Header">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMPRESIndent"
            id="fr.cnes.analysis.tools.fortran77.rules.COMPRESIndent"
            name="COM.PRES.Indent">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMPRESLengthLine"
            id="fr.cnes.analysis.tools.fortran77.rules.COMPRESLengthLine"
            name="COM.PRES.LengthLine">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.COMTYPEExpression"
            id="fr.cnes.analysis.tools.fortran77.rules.COMTYPEExpression"
            name="COM.TYPE.Expression">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77BLOCCommon"
            id="fr.cnes.analysis.tools.fortran77.rules.F77BLOCCommon"
            name="F77.BLOC.Common">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77BLOCElse"
            id="fr.cnes.analysis.tools.fortran77.rules.F77BLOCElse"
            name="F77.BLOC.Else">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77BLOCFunction"
            id="fr.cnes.analysis.tools.fortran77.rules.F77BLOCFunction"
            name="F77.BLOC.Function">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77BLOCLoop"
            id="fr.cnes.analysis.tools.fortran77.rules.F77BLOCLoop"
            name="F77.BLOC.Loop">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATAArray"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATAArray"
            name="F77.DATA.Array">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATACommon"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATACommon"
            name="F77.DATA.Common">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATADouble"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATADouble"
            name="F77.DATA.Double">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATAInitialisation"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATAInitialisation"
            name="F77.DATA.Initialisation">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATAIO"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATAIO"
            name="F77.DATA.IO">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATALoopDO"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATALoopDO"
            name="F77.DATA.LoopDO">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77DATAParameter"
            id="fr.cnes.analysis.tools.fortran77.rules.F77DATAParameter"
            name="F77.DATA.Parameter">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77ERROpenRead"
            id="fr.cnes.analysis.tools.fortran77.rules.F77ERROpenRead"
            name="F77.ERR.OpenRead">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTAssign"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTAssign"
            name="F77.INST.Assign">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTDimension"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTDimension"
            name="F77.INST.Dimension">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTEquivalence"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTEquivalence"
            name="F77.INST.Equivalence">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTFunction"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTFunction"
            name="F77.INST.Function">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTIf"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTIf"
            name="F77.INST.If">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTInclude"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTInclude"
            name="F77.INST.Include">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTPause"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTPause"
            name="F77.INST.Pause">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTReturn"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTReturn"
            name="F77.INST.Return">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77INSTSave"
            id="fr.cnes.analysis.tools.fortran77.rules.F77INSTSave"
            name="F77.INST.Save">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77METLine"
            id="fr.cnes.analysis.tools.fortran77.rules.F77METLine"
            name="F77.MET.Line">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77NAMEGenericIntrinsic"
            id="fr.cnes.analysis.tools.fortran77.rules.F77NAMEGenericIntrinsic"
            name="F77.NAME.GenericIntrinsic">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77NAMEIntrinsic"
            id="fr.cnes.analysis.tools.fortran77.rules.F77NAMEIntrinsic"
            name="F77.NAME.Intrinsic">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77NAMEKeyWords"
            id="fr.cnes.analysis.tools.fortran77.rules.F77NAMEKeyWords"
            name="F77.NAME.KeyWords">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77NAMELabel"
            id="fr.cnes.analysis.tools.fortran77.rules.F77NAMELabel"
            name="F77.NAME.Label">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77PROTODeclaration"
            id="fr.cnes.analysis.tools.fortran77.rules.F77PROTODeclaration"
            name="F77.PROTO.Declaration">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77REFIO"
            id="fr.cnes.analysis.tools.fortran77.rules.F77REFIO"
            name="F77.REF.IO">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77REFOpen"
            id="fr.cnes.analysis.tools.fortran77.rules.F77REFOpen"
            name="F77.REF.Open">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77REFParameter"
            id="fr.cnes.analysis.tools.fortran77.rules.F77REFParameter"
            name="F77.REF.Parameter">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77TYPEBasic"
            id="fr.cnes.analysis.tools.fortran77.rules.F77TYPEBasic"
            name="F77.TYPE.Basic">
      </Rule>
      <Rule
            class="fr.cnes.analysis.tools.fortran77.rules.F77TYPEHollerith"
            id="fr.cnes.analysis.tools.fortran77.rules.F77TYPEHollerith"
            name="F77.TYPE.Hollerith">
      </Rule>
   </extension>
</plugin>
