<?xml version="1.0" encoding="UTF-8" ?> 
  <?eclipse version="3.4"?> 
 <plugin>
  <extension-point id="fr.cnes.analysis.tools.fortran77.rule" name="fr.cnes.analysis.tools.fortran77.rule" schema="schema/fr.cnes.analysis.tools.fortran77.rule.exsd" /> 
  <extension-point id="fr.cnes.analysis.tools.fortran77.metric" name="fr.cnes.analysis.tools.fortran77.metric" schema="schema/fr.cnes.analysis.tools.fortran77.metric.exsd" />
  <extension
        point="fr.cnes.analysis.tools.analyzer">
     <analyzer
           extensionId="fr.cnes.analysis.tools.fortran77.metric"
           id="fr.cnes.analysis.tools.fortran77.analyzer.metric"
           name="Fortran 77 Metric">
        <fileExtension
              name="for">
        </fileExtension>
        <fileExtension
              name="f">
        </fileExtension>
        <fileExtension
              name="fpp">
        </fileExtension>
        <fileExtension
              name="ftn">
        </fileExtension>
        <fileExtension
              name="F">
        </fileExtension>
        <fileExtension
              name="FPP">
        </fileExtension>
        <fileExtension
              name="FTN">
        </fileExtension>
        <fileExtension
              name="FOR">
        </fileExtension>
     </analyzer>
     <analyzer
           extensionId="fr.cnes.analysis.tools.fortran77.rule"
           id="fr.cnes.analysis.tools.fortran77.analyzer.rule"
           name="Fortran 77 Rule">
        <fileExtension
              name="for">
        </fileExtension>
        <fileExtension
              name="f">
        </fileExtension>
        <fileExtension
              name="fpp">
        </fileExtension>
        <fileExtension
              name="ftn">
        </fileExtension>
        <fileExtension
              name="F">
        </fileExtension>
        <fileExtension
              name="FPP">
        </fileExtension>
        <fileExtension
              name="FTN">
        </fileExtension>
        <fileExtension
              name="FOR">
        </fileExtension>
     </analyzer>
  </extension>
  </plugin>
